<farmers>
    <div th:if="${not #lists.isEmpty(farmers)}">
        <table class="table">
            <thead>
            <tr>
                <th>Fullname</th>
                <th>Email</th>
                <th>FarmersNumber</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="f : ${farmers}">
                <td th:text="${f.fullName}"></td>
                <td th:text="${f.email}"></td>
                <td th:text="${f.farmersNumber}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(farmers)}">
        No Farmers found!
    </div>


</farmers>