<inspectors>
    <!-- fragments/applications-fragment.html -->
    <div th:if="${not #lists.isEmpty(inspectors)}">
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Inspector Number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ins : ${inspectors}">
                <td th:text="${ins.firstName}"></td>
                <td th:text="${ins.lastName}"></td>
                <td th:text="${ins.email}"></td>
                <td th:text="${ins.inspectorNumber}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(inspectors)}">
        No Inspectors found!
    </div>
    <div>
        Add new Inspector? <a href="/addinspector">Add inspector</a>
    </div>


</inspectors>